<main>
  <!-- Formulario -->
  <div class="container">
    <div class="row text-black mt-5">
      <p class="text-center mb-4">{{currentLanguage ==='es' ? initialText.es: initialText.en}}</p>
    </div>
    <div class="row text-black mt-2">
      <div class="col-4 offset-4">
        <h2 class="col-12 text-start mt-3 mb-0 fw-bold">{{currentLanguage ==='es' ? formTitle.es : formTitle.en}}</h2>
        <hr class="mt-0 mb-3 border-2 border-success">
        <form (ngSubmit)="onSubmit()" [formGroup]="accessForm">
          @for(item of formInputFields; track item; let last = $last){
          <div [ngClass]="{'mt-3' : last }" class='form-group'>
            <input id={{item.fieldId}} name={{item.fieldId}} type={{item.fieldType}}
              [placeholder]="currentLanguage === 'es' ? item.fieldPlaceholder : item.fieldPlaceholder_en"
              formControlName={{item.fieldId}} class="form-control form_field border-success" />
          </div>
          }
          <button type="submit"
            class="col-3 offset-4 btn send-button mt-4 text-white bg-success btn-3d">{{currentLanguage ==='es' ?  formBottonText.es : formBottonText.en}}</button>
        </form>
      </div>
    </div>
    <div class="row mt-5 my-4 fw-bold">
      @for(item of accessTexts; track item; let first=$first){
      <div [ngClass]="{'offset-4' : first}" class='text-center options_text col-2 '>
        <a [routerLink]="item.href" class="text-decoration-none text-black"> {{currentLanguage === 'es' ? item.text :
          item.text_en}}</a>
      </div>
      }
    </div>
  </div>
</main>
<app-copla-footer></app-copla-footer>
