aside{
  font-size: 16px;
  display: flex;
 /*  flex-direction: column; */
  min-height: 75vh;
}

.nav-pills .nav-link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0%;
}

.nav-pills .nav-link.active {
  color: white;
  background-color:  rgb(25, 135, 84);
}

.nav-pills .nav-link:hover {
  margin:0;
  background-color: rgb(25, 135, 84);
  color: rgb(255, 255, 255);
}

.submenu .nav-link{
  font-size: 14px;
  color: rgb(82, 82, 82);
}

#verticalMenu {
  background-color: rgb(25, 135, 84, 0.1);
}

ul {
  list-style-type: none;
}

