<app-header [case]="case"></app-header>

<main>
  <div class="container border-1 border-secondary">
    <div class="row">
      <div class="row mt-1 mb-3">
        <div class="breadcrumb fw-bold text-decoration-none">
          <a href="../copla-home/" class="text-black text-decoration-none">{{breadcrumb}}&nbsp;&nbsp;></a>
          <a href="../copla-parcels-registry/" class="text-black text-decoration-none">&nbsp;&nbsp;{{actualPage1}}&nbsp;&nbsp;></a>
          <a href="../copla-parcels-registry" class="text-black text-decoration-none">&nbsp;&nbsp;{{actualPage2}}</a>
        </div>
      </div>

      <div class="col-2">
        <app-copla-aside></app-copla-aside>
      </div>

      <div class="col-10 mt-0">
        <div class="col-12 bg-success">

          <!-- html de cada página -->

        </div>
      </div>

    </div>
  </div>
</main>
<app-copla-footer></app-copla-footer>
